@inject JSRuntime JsRuntime

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SaveWindow</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <p>Save the RoomId: @RoomId</p>
                <button type="button" class="btn btn-outline-primary" @onclick="@CopyRoomId">Save RoomId</button>
                <button type="button" class="btn btn-outline-primary" @onclick="@CopyEstimatorUrl">SaveEstimatorUrl</button>
            </div>
            <div class="modal-body">
                <p>Save your Hostname: @HostName</p>
                <button type="button" class="btn btn-outline-primary" @onclick="@CopyHostname">Save Hostname</button>
                <button type="button" class="btn btn-outline-primary" @onclick="@CopyEstimatorUrl">Save Host Url</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@ModalCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>